extends ../basis/layout

block content
    h1 Установка
    p
        | На настоящий момент Node.js работает на Windows, GNU/Linux и OS X. На
        a(href='https://nodejs.org/en/download/' target='_blank')=' официальном сайте '
        | вы можете скачать Node.js для любой платформы из перечисленных. Однако помните, что для Linux-based систем оптимальным
        | вариантом является не скачивание готовых бинарных файлов, а скачивание исходного кода с последующей компиляцией.
        | Это делается довольно просто - скачиваете Source Code необходимой вам версии и распаковываете архив в любое удобное
        | вам место. После этого переходите в распакованный архив и выполняете друг за другом три последующие команды:
    ul
        li ./configure
        li make
        li make install
    p
        | Выполнение команд может занять время. Если же команда
        b=' make '
        | отсутствует в вашей системе, то вам необходимо установить
        b=' build-essential'
        | .
    p
        | Готово! После завершения компиляции вы сможете использовать команды
        b=' node '
        | и
        b=' npm'
        | . Если же вы скачали уже скомпилированную программу, то вам необходимо будет создать символическую ссылку в
        b=' /usr/local/bin/ '
        | для быстрого запуска из консоли. Кроме того, вы можете установить Node.js из официального репозитория вашего
        | дистрибутива, однако обратите внимание на версю - в некоторых дистрибутивах предлагается сильно устаревшая версия.
    p
        | Пользователям Windows достаточно скачать
        b=' .msi '
        | установщик и установить Node.js на свою систему, после чего они сразу смогут использовать его.