// Пакеты
mixin package(pack)
    article.package
        h2=pack.title
        article.alert.alert-success
            b='Адрес: '
            a(href=pack.source target = "_blank")=pack.source
        artilce.text_block!=pack.text

mixin cover_package(pack)
    article.package_cover
        h2=pack.title
        artilce.text_block.cover_text!=pack.cover
        a(href='/docs/packages/item/' + pack.id).btn.btn-default.read Читать

mixin package_page(packs)
    - each pack, i in packs
        mixin cover_package(pack)

// АПИ
mixin module(pack)
    article.package
        h2=pack.title
        article.alert.alert-success
            b='Оригинал: '
            a(href=pack.source target = "_blank")=pack.source
        artilce.text_block!=pack.text

mixin cover_module(pack)
    article.package_cover
        h2=pack.title
        artilce.text_block.cover_text!=pack.cover
        a(href='/docs/api/item/' + pack.id).btn.btn-default.read Читать

mixin module_page(packs)
    - each pack, i in packs
        mixin cover_module(pack)

// Туториалы
mixin tutorial(pack)
    article.package
        h2=pack.title
        article.alert.alert-success
            b='Источник: '
            a(href=pack.source target = "_blank")=pack.source
        artilce.text_block!=pack.text
        mixin tags(pack.tags)

mixin cover_tutorial(pack)
    article.package_cover
        h2=pack.title
        artilce.text_block.cover_text!=pack.cover
        a(href='/docs/tutorials/item/' + pack.id).btn.btn-default.read Читать

mixin tutorial_page(packs)
    - each pack, i in packs
        mixin cover_tutorial(pack)

// Статьи
mixin article(pack)
    article.package
        h2=pack.title
        article.alert.alert-success
            b='Источник: '
            a(href=pack.source target = "_blank")=pack.source
        artilce.text_block!=pack.text
        mixin tags(pack.tags)

mixin cover_article_node(pack)
    article.package_cover
        h2=pack.title
        artilce.text_block.cover_text!=pack.cover
        a(href='/tech/article_node/item/' + pack.id).btn.btn-default.read Читать

mixin cover_article_other(pack)
    article.package_cover
        h2=pack.title
        artilce.text_block.cover_text!=pack.cover
        a(href='/tech/article_other/item/' + pack.id).btn.btn-default.read Читать

mixin article_node_page(packs)
    - each pack, i in packs
        mixin cover_article_node(pack)

mixin article_other_page(packs)
    - each pack, i in packs
        mixin cover_article_other(pack)

// Книги
mixin book(book_elem)
    article.book
        h3=book_elem.title
        img(src='/src/img/added/' + book_elem.image alt='book_cover').book_cover
        article.alert.alert-success
            b='Авторы: '
            span=book_elem.author
        artilce.text_block!=book_elem.description
        div.clearfix

// Инструменты
mixin tool(pack)
    article.package
        h2=pack.title
        artilce.text_block!=pack.text

mixin cover_tool(pack)
    article.package_cover
        h2=pack.title
        artilce.text_block.cover_text!=pack.cover
        a(href='/tech/tools/item/' + pack.id).btn.btn-default.read Читать

mixin tool_page(packs)
    - each pack, i in packs
        mixin cover_tool(pack)

// События
mixin event(pack)
    article.package
        h2=pack.title
        article.alert.alert-success
            b='Дата: '
            span=pack.date.toJSON().slice(0, 10)
        artilce.text_block!=pack.text
mixin cover_event(pack)
    article.package_cover
        h2=pack.title
        artilce.text_block.cover_text!=pack.cover
        a(href='/comm/events/item/' + pack.id).btn.btn-default.read Читать
mixin event_page(packs)
    - each pack, i in packs
        mixin cover_event(pack)

// Постраничная навигация
mixin navigate(name, count, num)
    - count = +count
    - num = +num
    ul.pagination
        //- prev
        - if(num - 3 <= 0)
            - for(var i = 0; i < num; i++)
                li
                    a(href=name + i)=i
        - else
            li
                a(href=name + '0') 0
            li.disabled
                a(href='#') ...
            li
                a(href=name + (num - 2))=num - 2
            li
                a(href=name + (num - 1))=num - 1
        //- Current number
        li.active
            a(href=name + num)=num
        //- next
        - if(num + 3 >= count)
            - for(var i = num + 1; i < count; i++)
                li
                    a(href=name + i)=i
        - else
            li
                a(href=name + (num + 1))=num + 1
            li
                a(href=name + (num + 2))=num + 2
            li.disabled
                a(href='#') ...
            li
                a(href=name + (count - 1))=count -1

// Теги
mixin tags(tag_arr)
    article.alert.alert-success.tags_panel
        b='Теги: '
        - each tag, i in tag_arr
            a(href='/tag/' + tag target = "_blank")=' ' + tag + ' '