extends ../../basis/layout

block content
    - var type = {};
    - if(tech) {type.addr = '/tech/'; type.name = 'Технология'}
    - else {type.addr = '/comm/'; type.name = 'Сообщество'}
    ul.breadcrumb
        li
            a(href=type.addr)=type.name
        li=title
    h1=title
    table.table.table-striped
        tr
            th Адрес
            th Описание
        - each link, i in links
            tr
                td
                    a(href=link.link target = "_blank")=link.link
                td=link.description